<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>saulPaulus</title>
  </head>
  <body>
    <!--Membuat navbar-->
    <nav class="nav">
      <div class="nav-brand">
        <img src="/img-logo/SP3@2x.png" alt="logo-brand" />
      </div>
      <span id="menu-list" class="menu-list" href="#">☰</span>
      <ul class="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="#">Project</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Skill</a></li>
      </ul>
    </nav>
    <!--Akhir membuat navbar-->

    <!--membuat header-->
    <header class="header"></header>

    <!--Akhir membuat header-->

    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
