<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>saulPaulus</title>
  </head>

  <body>
    <!--Membuat navbar-->
    <nav class="nav">
      <div class="nav-container">
        <div class="nav-brand">
          <img src="/img-logo/SP3@2x.png" alt="logo-brand" />
        </div>
        <div class="menu-list-container">
          <span id="menu-list" class="menu-list" href="#">☰</span>
        </div>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Skill</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
    <!--Akhir membuat navbar-->

    <!--membuat header-->
    <header class="header">
      <div class="header-hero">
        <div class="header-hero-container">
          <img src="/img-bener/bener@2x.png" alt="hero-bener" />
          <h1>Saul Paulus</h1>
        </div>
      </div>
      <div class="header-content">
        <div class="header-content-container">
          <div class="header-content-title">
            <h3>Haaaiiii,I am Saul</h3>
            <h2>
              I am a web developer and logo designer, also I am a data tester or
              statistical data analysis
            </h2>
          </div>

          <ul class="sosmed-list">
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/wa@2x.png" alt="icon-wa"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/instagram@2x.png" alt="icon-instagram"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/youtube@2x.png" alt="icon-youtube"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/github@2x.png" alt="icon-github"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/fb@2x.png" alt="icon-fb"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!--Akhir membuat header-->
    <!--membuat content-about-->
    <main class="main-about">
      <section class="content-about">
        <div class="about-title">
          <div class="about-title-container">
            <h1><a>About</a></h1>
            <p>
              currently I work as an operator of academic management systems for
              physics major at the University of Pattimura, I have an
              educational background as a scientist in the field of physics. I
              developed myself self-taught to learn about web developer
              programming in several trainings that I have attended in digital
              platform classes such as dicoding.com, codepolita.com
              buildbyangga.com and progate.com, as well as some tutorials on
              youtube such as in the unpass programming channel or programming
              today. I also have 4 years of experience in testing data in
              statistics using the SPSS application such as t-test, ANOVA test,
              regression-test and others.
            </p>
          </div>
        </div>
        <div class="about-tombol">
          <div class="about-tombol-container">
            <a href="" target="_blank">Selengkapnya</a>
          </div>
        </div>
      </section>
    </main>
    <!--Akhir membuat content-about-->

    <!--membuat content-project-->
    <main class="main-project">
      <section class="content-project">
        <div class="project-title">
          <h1>My Project</h1>
        </div>
        <div class="project-feature">
          <div class="project-feature-container">
            <img src="/img-project/code1.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/desain1.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/logo1.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/logo2.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/leading1.png" alt="" />
          </div>
        </div>
        <div class="project-tombol">
          <a href="#">Selengkapnya</a>
        </div>
      </section>
    </main>
    <!--Akhir membuat content-project-->

    <!--membuat service-->
    <main class="main-service">
      <section class="content-service">
        <div class="service-hero">
          <div class="service-hero-container">
            <!--di isi oleh bacground image dari css-->
          </div>
        </div>
        <div class="service-title">
          <div class="service-title-container">
            <h1>Service</h1>
            <p>let me be your partner to be the solution for your problem</p>
            <div class="service-title-img">
              <div class="service-title-img-container">
                <img src="/img-service/coding.png" alt="" />
              </div>
              <div class="service-title-img-container">
                <img src="/img-service/logo(1).png" alt="" />
              </div>
              <div class="service-title-img-container">
                <img src="/img-service/pen.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--Akhir membuat  service-->

    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
