<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>saulPaulus</title>
  </head>

  <body>
    <!--Membuat navbar-->
    <nav class="nav">
      <div class="nav-container">
        <div class="nav-brand">
          <img src="/img-logo/SP3@2x.png" alt="logo-brand" />
        </div>
        <div class="menu-list-container">
          <span id="menu-list" class="menu-list" href="#">☰</span>
        </div>
        <ul class="nav-list">
          <li><a href="#about">About</a></li>
          <li><a href="#project">Project</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#skill">Skill</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <!--Akhir membuat navbar-->

    <!--membuat header-->
    <header class="header">
      <div class="header-hero">
        <div class="header-hero-container">
          <img src="/img-bener/bener@2x.png" alt="hero-bener" />
          <h1>Saul Paulus</h1>
        </div>
      </div>
      <div class="header-content">
        <div class="header-content-container">
          <div class="header-content-title">
            <h3>Haaaiiii,I am Saul</h3>
            <h2>
              I am a web developer and logo designer, also I am a data tester or
              statistical data analysis
            </h2>
          </div>

          <ul class="sosmed-list">
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/wa@2x.png" alt="icon-wa"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/instagram@2x.png" alt="icon-instagram"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/youtube@2x.png" alt="icon-youtube"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/github@2x.png" alt="icon-github"
              /></a>
            </li>
            <li>
              <a href="" target="_blank"
                ><img src="/icon-sosmed/fb@2x.png" alt="icon-fb"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!--Akhir membuat header-->
    <!--membuat content-about-->
    <main id="about" class="main-about">
      <section class="content-about">
        <div class="about-title">
          <div class="about-title-container">
            <h1><a>About</a></h1>
            <p>
              currently I work as an operator of academic management systems for
              physics major at the University of Pattimura, I have an
              educational background as a scientist in the field of physics. I
              developed myself self-taught to learn about web developer
              programming in several trainings that I have attended in digital
              platform classes such as dicoding.com, codepolita.com
              buildbyangga.com and progate.com, as well as some tutorials on
              youtube such as in the unpass programming channel or programming
              today. I also have 4 years of experience in testing data in
              statistics using the SPSS application such as t-test, ANOVA test,
              regression-test and others.
            </p>
          </div>
        </div>
        <div class="about-tombol">
          <div class="about-tombol-container">
            <a href="" target="_blank">Selengkapnya</a>
          </div>
        </div>
      </section>
    </main>
    <!--Akhir membuat content-about-->

    <!--membuat content-project-->
    <main id="project" class="main-project">
      <section class="content-project">
        <div class="project-title">
          <h1>Project</h1>
        </div>
        <div class="project-feature">
          <div class="project-feature-container">
            <img src="/img-project/code1.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/desain1.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/logo1.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/logo2.png" alt="" />
          </div>
          <div class="project-feature-container">
            <img src="/img-project/leading1.png" alt="" />
          </div>
        </div>
        <div class="project-tombol">
          <a href="#">Selengkapnya</a>
        </div>
      </section>
    </main>
    <!--Akhir membuat content-project-->

    <!--membuat service-->
    <main id ="service" class="main-service">
      <section class="content-service">
        <div class="service-hero">
          <div class="service-hero-container">
            <img src="/img-service/service-hero.png" alt="" />
          </div>
        </div>
        <div class="service-title">
          <div class="service-title-container">
            <h1>Service</h1>
            <p>let me be your partner to be the solution for your problem !!</p>
            <div class="service-title-img">
              <div class="service-title-img-container">
                <img src="/img-service/coding.png" alt="" />
                <a href="#">Build Website ></a>
              </div>
              <div class="service-title-img-container">
                <img src="/img-service/pen.png" alt="" />
                <a href="#">Analysis Data of SPSS ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--Akhir membuat  service-->

    <!--membuat skill-->
    <main id="skill" class="main-skill">
      <section class="skill-content">
        <div class="skill-title">
          <div class="skill-title-container">
            <h1>Skill</h1>
          </div>
        </div>
        <div class="skill-title-programing">
          <h2>Skill of Programing</h2>
        </div>
        <div class="skill-title-front-end">
          <h1>Front-end</h1>
        </div>
        <div class="front-end-container">
          <div class="front-end-container-prog">
            <div class="front-end-prog">
              <img src="/img-skill/html2.png" alt="" />
              <h3>HTML</h3>
              <p>80%</p>
            </div>
            <div class="front-end-prog">
              <img src="/img-skill/css2.png" alt="" />
              <h3>CSS / SASS</h3>
              <p>80%</p>
            </div>
            <div class="front-end-prog">
              <img src="/img-skill/javascript.png" alt="" />
              <h3>Javascript</h3>
              <p>80%</p>
            </div>
            <div class="front-end-prog">
              <img src="/img-skill/webpack.png" alt="" />
              <h3>Webpack</h3>
              <p>80%</p>
            </div>
            <div class="front-end-prog">
              <img src="/img-skill/bootsrap.png" alt="" />
              <h3>Boostrap</h3>
              <p>60%</p>
            </div>
            <div class="front-end-prog">
              <img src="/img-skill/uiux.png" alt="" />
              <h3>UI/UX Design</h3>
              <p>60%</p>
            </div>
          </div>
        </div>
        <div class="skill-title-back-end">
          <h1>Back-end</h1>
        </div>
        <div class="back-end-container">
          <div class="back-end-container-prog">
            <div class="back-end-prog">
              <img src="/img-skill/golang.png" alt="" />
              <h3>Golang</h3>
              <p>50%</p>
            </div>
            <div class="back-end-prog">
              <img src="/img-skill/nodejs.png" alt="" />
              <h3>NodeJS</h3>
              <p>60%</p>
            </div>
            <div class="back-end-prog">
              <img src="/img-skill/php.png" alt="" />
              <h3>PHP</h3>
              <p>30%</p>
            </div>
            <div class="back-end-prog">
              <img src="/img-skill/mySql.png" alt="" />
              <h3>MySQL</h3>
              <p>80%</p>
            </div>
            <div class="back-end-prog">
              <img src="/img-skill/mongoDb.png" alt="" />
              <h3>mongoDB</h3>
              <p>40%</p>
            </div>
          </div>
        </div>
        <div class="skill-title-soft">
          <h1>Soft Skill</h1>
          <div class="skill-title-soft-container">
            <div class="skill-soft-container-prog">
              <div class="soft-skill-prog">
                <img src="/img-skill/spssibm.png" alt="" />
                <h3>Data Analysis of SPSS</h3>
                <p>80%</p>
              </div>
              <div class="soft-skill-prog">
                <img src="/img-skill/instalasi.png" alt="" />
                <h3>OS Instalation of Computer</h3>
                <p>80%</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--akhir membuat skill-->

    <!--membuat contact-->
    <main id="contact" class="main-contact">
      <section class="contact-content">
        <div class="contact-title">
          <div class="contact-title-container">
            <h1>Contact</h1>
          </div>
        </div>
        <div class="contact-form">
          <div class="contact-form-container">
            <form action="" method="" accept-charset="utf-8">
              <div class="contact-name">
                <label for="input-name">Your Name</label>
                <input
                  type="text"
                  placeholder="Name......"
                  value=""
                  name=""
                  id="input-name"
                />
              </div>
              <div class="contact-email">
                <label for="input-email">Your email</label>
                <input
                  type="text"
                  placeholder="Email......"
                  value=""
                  name=""
                  id="input-email"
                />
              </div>
              <div class="contact-phone">
                <label for="input-phone">Your Phone</label>
                <input
                  type="text"
                  placeholder="Phone......"
                  value=""
                  name=""
                  id="input-phone"
                />
              </div>
              <div class="contact-categorie">
                <label for="input-select">Categorie</label>
                <select type="select" value="" name="" id="input-select" />
                  <option value="website">Build of Website</option>
                  <option value="Data">Data Analysis</option>
                </select>
              </div>
              <div class="contact-question">
                <label for="input-question">Question</label>
                <textarea name="Name" id="input-question"> What do you question?.......</textarea>
              </div>
              <input type="button"  value="Submit">
            </form>
          </div>
        </div>
      </section>
    </main>
    <!--Akhir membuat contact-->

    <!--Membuat footer-->
    <footer class="main-footer">
      <div class="footer-title">
        <div class="footer-title-container">
          <p>Copyright &copy; 2021 saulPaulus</p>
        </div>
      </div>
    </footer>
    <!--Akhir membuat footer-->

    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
