//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

//colors
$color-1: #1C1C1D; //warna body / footer
$color-2: #05090C; //warna navbar
$color-3: #373335;
$color-4: #1D1D1F;
$color-5: #707070;
$color-6: #5B5B5B;
$color-7: #B89F9F;
$color-8: #FFD2D2;
$color-9: #BF9999;
$color-10: #0071E3;
$color-11: #0066CC;
$color-12: #F2F2F2;
$color-13: #FFFFFF;
$color-14: #000000;


//style
@mixin reset{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
  ul,ol{
	list-style: none;
   }
  a{
	text-decoration: none;
   }
}

@mixin flex-box($justify-content:null, $align-items:null){
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}
@mixin opacity-item($opacity){
	opacity: $opacity;
}

@mixin container($size:null){
	padding-left: $size;
	padding-right: $size;
}
@mixin tombol-selengkapnya{
		font-size: 1em;
		padding: 15px;
		background-color:$color-10;
		color: $color-13;
		border-radius: 30px;
}

@mixin title-font($nameColor){
	font-size: 3em;
	text-decoration: underline;
	color:$nameColor;
}

body, html{
	@include reset();
	font-family: 'Roboto', sans-serif;
	background-color: $color-2;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

/*==============NAVBAR=========================*/
nav{
	display: flex;
	.nav-container{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		padding: 10px;
		z-index: 10;
		.menu-list-container{
			.menu-list{
				display: none;
				color: $color-9;
			}
		}
		.nav-brand{
			width: 30%;
  		@include opacity-item(0.5);
			img{
				width:40px;
				height:40px;
			}
		}
		ul{
			width: 50%;
		 	display: flex;
		 	justify-content: space-evenly;
			a{
				@include opacity-item(0.5);
				font-size:1.2em;
				color: $color-13;
				font-weight: 400;
			}
		}
		.nav-brand:hover, a:hover{
			@include opacity-item(0.8);
			transition:0.3s ease-in;
			cursor: pointer;
		}
	}
}
/*================================================*/
/*=================header=========================*/
header{
	display: flex;
	color: white;
	.header-hero{
		display: flex;
		width: 50%;
		justify-content:flex-end;
		padding: 20px;
		.header-hero-container{
				text-align: center;
			img{
				width: 70%;	
			}
			h1{
				margin-top: -2px;
				color:$color-9;
			}
		}	
	}
	.header-content{
		width: 60%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.header-content-container{
			width: 80%;
			h3{
				font-size: 2em;
				color: $color-9;
			}
			h2{
				text-align: justify;
				font-size: 3em;
				color:$color-8;
			}
			ul{
				display: flex;
				li{
					padding: 10px;
					a{
						img{
							width:100%;
							height: 100%;
						}
					}
				}
			}
		}
	}	
}
/*=============================================================*/
/*========Membuat main About=======*/
.main-about{
	background-color:$color-13;
	width: 100%;
	padding-bottom: 40px;
	.content-about{
		width: 100%;
  	display: flex;

		.about-title{
			width:75%;
			text-align: justify;
			display: flex;
			justify-content: flex-end;
			.about-title-container{
				width: 70%;
				padding: 10px;
				display: flex;
				flex-direction: column;
				h1{
					@include title-font($color-2);
				}
				p{
					margin-top: -10px;
					font-size: 1.5em;
					font-weight: 400;
					color: $color-3;
					font-stretch:extra-expanded;
				}
			}
		}
		.about-tombol{
			width: 25%;
			display: flex;
			align-items: center;
			padding: 50px;
			.about-tombol-container{
				a{
						@include tombol-selengkapnya();	
				}
			}
		}
	}
}
/*======================================================*/
/*===========Membuat main project===============*/
.main-project{
	.content-project{
		display: flex;
		flex-direction: column;
		align-items: center;
		color:$color-13;
		padding-bottom: 50px;
		.project-title{
			h1{	
				@include title-font($color-13);	
				}
		}
		.project-feature{
				width: 80%;
			display: grid;
			grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
			justify-content: space-evenly;
			margin-bottom:40px;
			gap:10px;
			.project-feature-container{
				width: 100%;
				text-align: center;
				img{
					width: 180px;
					height: 180px;
				}
			}	
		}
		.project-tombol{
			a{
				@include tombol-selengkapnya();
			}
		}
	}
}
/*=========================================================*/
/*=======service====================*/
.main-service{
	background-color: $color-13;
	.content-service{
		display: flex;
		width: 100%;
		border: 1px solid red;
		padding-bottom: 30px;

		.service-hero{
			border: 1px solid blue;
			width:50%;
			display: flex;
	  	justify-content: flex-end;	
			.service-hero-container{
				border:1px solid green;
				width:90%;
				img{
					width: 100%;
					height: 100%;
					display: block;
					border: 1px solid black;
		
				}
	   		}
		 }
		 .service-title{
			 width: 50%;
		  	border:1px solid yellow;
			  .service-title-container{

				  border:1px solid salmon;
					display: flex;
					flex-direction: column;
				  h1{
					 border:1px solid salmon;
					 @include title-font($color-2);
				  }
				  p{
					  border:1px solid red;
						font-size: 2em;
						font-weight: 500;
				   }
					 .service-title-img{
						 margin-top: 40px;	
						 display: grid;
						 grid-template-columns: repeat(auto-fit,minmax(1fr, 1fr));
						 .service-title-img-container{
				  		border:1px solid blue;
							display: flex;
							flex-direction: column;
							align-items:center;
							img{
						 		width:150px;
						 		height: 150px;
					 			}
								a{
									font-size: 1em;
									padding: 20px;
								}
					 		}
						}
			 		}
		 		}
		}
}


/*==============================================*/


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	nav{
		.nav-container{
			justify-content:space-evenly;
			ul{
				position: absolute;
				display: none;
			}

			.menu-list-container{
				border: 1x solid white;
				.menu-list{

					display:inline-block;
				}
		
			}
	
		}

	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
//navbar ----
nav{
	.nav-container{
		.nav-brand{
			width: 10%;
		}
		ul{
			width: 60%;
		}
	}
}
/*====header====*/
header{
	flex-direction: column;
	align-items: center;
	.header-content{
		text-align: center;
		width: 80%;
		.header-content-container{
			width: 100%;
			h3{
				font-size: 1.4em;
			}
			h2{
				font-size: 1.6em;
			}	
			ul{
				justify-content: center;	
				margin-left: -40px;
			}
			li{
				padding: 3px;
			}
		}
	}
}
/*========Membuat main=======*/
.main-about{
	.content-about{
		flex-direction: column;
	 	align-items: center;
		.about-title{
			width:100%;
			justify-content: center;
			text-align: center;
			.about-title-container{
				padding: 10px;
				h1{
					font-size: 4em;
					text-decoration: underline;
					color:$color-2;
				}
				p{
					text-align: justify;
					margin-top: -10px;
					font-size: 1.5em;
					font-weight: 400;
					color: $color-3;
					font-stretch:extra-expanded;
				}
			}
		}
			.about-tombol{
				padding: 10px;
				justify-content: center;
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
/*========Membuat main=======*/
.main-about{
	.content-about{
		.about-title{
		.about-title-container{
				width: 80%;
			}
		}
			.about-tombol{
				width: 20%;
				.about-tombol-container{
					a{
						font-size: 1em;
					}
				}
			}
		}
	}



/*=======service====================*/
.main-service{
	.content-service{
		display: flex;
		flex-direction: column;
		width: 100%;
		.service-hero{
			width:100%;
			display: flex;
	  	justify-content: center;	
			.service-hero-container{
				border:1px solid green;
				width:60%;
		   		}
		 }
		 .service-title{
			 width: 100%;
			 display: flex;
			 align-items: center;
			 justify-content:center;
		  	.service-title-container{
					width:70%;
					display: flex;
					flex-direction: column;
					align-items: center;
				  h1{
					 border:1px solid salmon;
					 @include title-font($color-2);
				  }
				  p{
					  border:1px solid red;
						font-size: 2em;
						font-weight: 500;
				   }
					 .service-title-img{	
						 margin-top: 40px;	
						 width: 100%;
						 grid-template-columns: 1fr 1fr;
						 .service-title-img-container{ 
							img{
						 		width:170px;
						 		height: 170px;
					 			}
								a{
									font-size: 1em;
									padding: 20px;
								}
					 		}
						}
			 		}
		 		}
		}
}












}
